<%= link_to "Home", root_path %>
<%= link_to "facebook登出", auth_signout_path, :method => :delete %> <br>  
<%= @user.try(:name) %> <br>

<h2>Friend List</h2>

<h2>Request list</h2>

<h2>Pending list</h2>

  