<div class='userpage_name'>
  <%= image_tag('usercover.jpg', :class => 'usercover') %>
  <span><%= @user.name %></span>
</div> 
  <div class='wrapper'>
    <div class="userpage_photo_wrapper">
      <% @user.photos.each do |photo| %>
        <%= image_tag(photo.avatar(:thumb), :class => 'userpage_photo') %>
      <% end %>
    </div>
  </div>
