<!-- <h1>Photos#index</h1>
<p>Find me in app/views/photos/index.html.erb</p> -->
<%#= render partial: "photos/new" %>
<%#= render partial: @photos.reverse %>
<%#=raw tag_links(photo.all_tags)%>

<%# tag_cloud Tag.counts do |tag| %>
  <%#= link_to tag.name, tag_path(tag.name) %>
<%# end %>